<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>

        <pipelines>
            <httpRequestBegin>
                <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                           type="MyProject.Resolvers.AmpItemResolver, MyProject" />
            </httpRequestBegin>

            <mvc.buildPageDefinition>
                <processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']"
                           type="MyProject.Resolvers.AmpProcessXmlBasedLayoutDefinition, MyProject" />
            </mvc.buildPageDefinition>

            <mvc.renderRendering>
              <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" 
                         type="MyProject.Pipeline.ApplyVaryByAmp, MyProject" />
            </mvc.renderRendering>
        </pipelines>

        <settings>
            <setting name="MyProject.AmpLayoutId" value="{xxxxxxxx-yyyy-zzzz-0000-xxxyyyzzz11}" />
        </settings>
    </sitecore>
</configuration>
