@using MyFoundation.Extensions
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ContentComponents.Models.SocialLinks>

@if (Context.IsAmpRequest())
{
    <amp-social-share type="email"
                      width="25"
                      height="25">
    </amp-social-share>
    <amp-social-share type="facebook"
                      data-param-app_id="xxxxxxxxxxxxxxxx"
                      width="25"
                      height="25">
    </amp-social-share>
    <amp-social-share type="gplus"
                      width="25"
                      height="25">
    </amp-social-share>
    <amp-social-share type="twitter"
                      width="25"
                      height="25">
    </amp-social-share>
}
else
{
    <a class="btn"
       href="mailto:youremailaddress@domain.com"
       aria-label="email"
       role="button">
        <span class="screen-reader-text">email</span>
    </a>
    <a class="btn"
       href="#/"
       aria-label="Facebook"
       role="button"
       onclick="window.open('http://www.facebook.com/sharer.php?u=@Model.CurrentPageAbsoluteUrl&hashtag=YOUR_HASH_TAG&quote=CURRENT_PAGE_TITLE', 'Sharer', 'toolbar=0,status=0,top=' + ((screen.height / 2) - (200 / 2)) + ',left=' + ((screen.width / 2) - (520 / 2)) + ',width=520,height=200');return false;">
        <span class="screen-reader-text">Facebook</span>
    </a>
    <a class="btn"
       href="#/"
       aria-label="Twitter"
       role="button"
       onclick="window.open('http://twitter.com/intent/tweet?url=@Model.CurrentPageAbsoluteUrl&hashtags=YOUR_HASH_TAG&text=CURRENT_PAGE_TITLE', 'Sharer', 'toolbar=0,status=0,top=' + ((screen.height / 2) - (250 / 2)) + ',left=' + ((screen.width / 2) - (520 / 2)) + ',width=520,height=250');return false;">
        <span class="screen-reader-text">Twitter</span>
    </a>
}

